
html {
    max-width: 4096px;
    max-height: 2160px;
    background-image: linear-gradient(to top right, rgb(22, 22, 22) , rgb(31, 31, 31));
}

.banner {
    max-width: 693px;
    max-height: 198px;
    float: right;
}

a {
    text-decoration: none;
}

.nav-bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(148, 255, 255);
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    float: left;
    display: inline;
}

.nav-bar {
    display: flex;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    margin: 0;
    padding: 0;
    font-family: "Rubik Mono One", sans-serif;
    max-height: 198px;
}

.nav-item a{
    display: block;
    font-size: 22px;
    color:rgb(119, 119, 119);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.nav-item a:hover {
    background-color: black;
    color: rgb(158, 232, 255);
    transition: 0.6s;
}

.nav-item-active a{
    background-color: rgb(133, 133, 133);
    color: rgb(148, 255, 255);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;

}

/* services.html elements styling */

.a-phone {
    color: royalblue;
    font-size: 28px;
    font-family: "Changa", sans-serif;
}

.a-phone:hover {
    color: rgb(88, 145, 3);
}

.a-email {
    color: royalblue;
    font-size: 28px;
    font-family: "Changa", sans-serif;
}

.a-email:hover {
    color: rgb(88, 145, 3);
}

.outsource {
    padding-top: 100px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.h1-outsource {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 55px;
    color: rgb(148, 255, 255);
    text-align: center;
}

.p-outsource {
    font-family: "Montserrat Alternates", sans-serif;
    color: rgb(148, 255, 255);
    text-align: center;
    font-size: 26px;
}

.web {
    background-color: rgb(148, 255, 255);
}

.h1-web {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 55px;
    text-align: center;
    color:rgb(133, 133, 133);
}

.p-web {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    font-size: 26px;
    color:rgb(133, 133, 133);
}

.assembly {
    width: 100%;
    border-color: rgb(148, 255, 255);
}

.h1-assembly {
    color:rgb(148, 255, 255);
    font-size: 55px;
    text-align: center;
    font-family: "Rubik Mono One", sans-serif;
}

.p-assembly {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    font-size: 26px;
    color:rgb(148, 255, 255);
}

.servis {
    width: 100%;
    padding-left: 0;
    background-color: rgb(148, 255, 255);
}

.h1-servis {
    color: rgb(133, 133, 133);
    font-size: 55px;
    text-align: center;
    font-family: "Rubik Mono One", sans-serif;
}

.p-servis {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    font-size: 26px;
    color: rgb(133, 133, 133);
}

/* hamburger icon */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: rgb(148, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

/* mobile menu */

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 50%;
    font-family: "Rubik Mono One", sans-serif;
    color: rgb(133, 133, 133);
    background: hsl(180 100% 79% / 0.9);
    transition: 0.5s;
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.7s;
}

.mobile.menu li {
    margin-bottom: 10px;
    text-decoration: none;
}

.ham-item {
    color: rgb(133, 133, 133);
    font-size: 30px;
}

.ham-item:hover {
    background-color: black;
    color: rgb(148, 255, 255);
    font-size: 31px;
    transition: 0.7s;
    transition-timing-function: linear;
}


/* styling for about.html */

.about-us-div {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.h1-about {
    color: rgb(148, 255, 255);
    font-size: 55px;
    text-align: center;
    font-family: "Rubik Mono One", sans-serif;
}

.p-about {
    font-family: "Montserrat Alternates", sans-serif;
    color: rgb(148, 255, 255);
    text-align: center;
    font-size: 26px;
}

/* styling for contact */

.logos {
    text-align: center;
}

.facebook {
    width: 100px;
    height: 100px;
    color: rgb(148, 255, 255);
    margin: 60px;
}

.facebook:hover {
    color: rgb(96, 172, 172);
    transition: 0.3s;
}

.email {
    width: 100px;
    height: 100px;
    color: rgb(148, 255, 255);
    margin: 60px;
}

.email:hover {
    color: rgb(96, 172, 172);
    transition: 0.3s;
}

.company {
    align-items: center;
    width: 100%;
    padding-top: 120px;
}

.company-name {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    font-family: "Rubik Mono One", sans-serif;
    color: rgb(148, 255, 255);
    text-align: center;
}

.company-adress, .company-city, .company-postcode {
    font-family: "Montserrat Alternates", sans-serif;
    color: rgb(148, 255, 255);
    text-align: center;
    font-size: 26px;
}


/* index.html styling */

.welcome {
    padding-top: 120px;
    align-items: center;
    width: 100%;
}

.h1-welcome {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(148, 255, 255);
    font-family: "Rubik Mono One", sans-serif;
}

.div-foto-servis1 {
    padding-top: 80px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.h2-foto-servis1 {
    text-align: center;
    color: rgb(148, 255, 255);
    font-size: 35px;
    font-family: "Montserrat Alternates", sans-serif;
}

.img-foto-servis1 {
    text-align: center;
    width: 360px;
    height: 480px;
    padding-left: 30%;
}

.img-imac {
    width: 360px;
    height: 480px;
}

.p-foto-servis1 {
    padding-left: 150px;
    padding-right: 150px;
    color: rgb(148, 255, 255);
    font-size: 24px;
    font-family: "Montserrat Alternates", sans-serif;
}

.list-servis1 {
    text-align: center;
    color: rgb(148, 255, 255);
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

/* <----- Media Queries based on Screen Size -----> */

/* For Mobile Portrait View */

/* @media screen and (max-device-width: 480px) {
    .nav-bar {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    #hamburger-icon div {
        width: 2rem;
        height: 2rem;
    }

    .outsource {
        width: 100%;
    }

    .assembly {
        width: 100%;
        background-color: rgb(133, 133, 133);
    }

    .servis {
        width: 100%;
        color: rgb(133, 133, 133);
        background-color: rgb(148, 255, 255);
    }
   
    .banner {
        size: 25%;
    }
}
*/
/* For iPhone SE1 Portrait View */

/*@media screen and (max-device-width: 640px) {
    .nav-bar {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .outsource {
        width: 100%;
    }

    .assembly, .h1-assembly, .p-assembly {
        width: 100%;
        float: unset;
        background-color: rgb(133, 133, 133);
    }

    .servis, .h1-servis, .p-servis {
        width: 100%;
        color: rgb(133, 133, 133);
        background-color: rgb(148, 255, 255);
        float: unset;
    }

    .banner {
        size: 25%;
    }
}
*/

/* For iPhone 6, 6S, 7, 8, SE2, 11, 12mini, 13mini, etc Portrait View */

/* @media screen and (max-device-width: 1080px) {
    .nav-bar {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .outsource {
        width: 100%;
    }

    .assembly, .h1-assembly, .p-assembly {
        width: 100%;
        float: unset;
        background-color: rgb(133, 133, 133);
    }

    .servis, .h1-servis, .p-servis {
        width: 100%;
        color: rgb(133, 133, 133);
        background-color: rgb(148, 255, 255);
        float: unset;
    }

    .banner {
        size: 25%;
    }
}
*/
/* For iPhone 6 Plus, 6S Plus, 7 Plus, 8 Plus, XS Max, etc. Portrait View */

/*@media screen and (max-device-width: 1284px) {
    .nav-bar {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

} */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */

    html {
        min-height: 568px;
        min-width: 320px;
    }

    .nav-bar {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    #hamburger-icon div {
        width: 85px;
        height:1rem;
        margin: 9px;
    }

    .open .bar1 {
        -webkit-transform: rotate(-45deg) translate(-15px, 15px);
        transform: rotate(-45deg) translate(-15px, 15px);
    }

    .open .bar3 {
        -webkit-transform: rotate(45deg) translate(-15px, -19px);
        transform: rotate(45deg) translate(-15px, -19px)
    }

    .outsource {
        width: 100%;
    }

    .assembly, .h1-assembly, .p-assembly {
        width: 100%;
        float: unset;
        background-color: black;
    }

    .servis, .h1-servis, .p-servis {
        width: 100%;
        color: rgb(133, 133, 133);
        background-color: rgb(148, 255, 255);
        float: unset;
    }

}

    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    